* {
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

body {
  background-color: #6dc353;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  padding: 150px 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 10px;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background: #fff;
  border: 2px solid #234099;
  border-radius: 20px;
  padding: 7px;
}

button:hover {
  border: 2px solid #0ea5dd;
  cursor: pointer;
}

button:active {
  outline: none;
}

.main-content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
  color: white;
}

.inputs-and-buttons-container {
  margin-bottom: 17px;
}

.search-input,
.search-yes-or-no-input {
  width: 100%;
  max-width: 375px;
  margin: 0 auto 12px;
  padding: 4px 15px;
  font-size: 22px;
  border: 2px solid #234099;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-input:focus,
.search-yes-or-no-input:focus {
  border: 2px solid #0ea5dd;
  outline: none;
}

.results-container {
  width: 100%;
  font-size: 22px;
  color: #234099;
  background: white;
  margin: 0 auto;
}

#advice-h1 {
  display: inline-block;
}

.tv-show-image {
  display: block;
}
