* {
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

body {
  background-color: #6dc353;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  padding: 50px 0;

  /* position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: #00e;
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 10px;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background: #fff;
  border: 2px solid #234099;
  border-radius: 20px;
  /* padding: 7px; */
}

button:hover {
  border: 2px solid #0ea5dd;
  cursor: pointer;
}

button:active {
  outline: none;
}

.main-content {
  min-height: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
  color: white;
}

.inputs-and-buttons-container {
  margin-top: 60px;
  margin-bottom: 17px;
}

.inputs-and-buttons-container h1 {
  display: block;
}

.search-tv-input,
.search-yes-or-no-input {
  width: 100%;
  max-width: 375px;
  margin: 0 auto 12px;
  padding: 4px 15px;
  font-size: 22px;
  border: 2px solid #234099;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-tv-input:focus,
.search-yes-or-no-input:focus {
  border: 2px solid #0ea5dd;
  outline: none;
}

.results-container {
  width: 100%;
  font-size: 22px;
  color: #234099;
  background: white;
  margin: 0 auto;
  padding: 30px;
}

#advice-h1 {
  display: block;
}

.tv-show-image {
  display: block;
}

.social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 27px;
}
